{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Politique de Confidentialité{% endblock %}

{% block body %}
<div class="flex justify-center">
    <div class=" flex flex-col gap-20 w-220 bg-(--third-color) my-6 p-6 px-10 pb-30">
        <h2 class="text-center text-3xl font-black mb-10">Politique de Confidentialité</h2>

        <div>
            <h3 class="h3-legal">1. Collecte de l'information</h3>
            <hr>
            <p>
                Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, faites un achat, ou lorsque vous vous déconnectez. Les informations recueillies incluent votre nom, votre adresse e-mail, numéro de téléphone et/ou carte de crédit.
            </p>
        </div>
        <div>
            <h3 class="h3-legal">2. Utilisation des informations</h3>
            <hr>
            <p>
                Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour : <br><br>

                Personnaliser votre expérience et répondre à vos besoins individuels<br>
                Fournir un contenu publicitaire personnalisé<br>
                Améliorer notre site Web<br>
                Améliorer le service client et vos besoins de prise en charge<br>
                Vous contacter par e-mail<br>
                Administrer un concours, une promotion, ou une enquête<br>
            </p>
        </div>
        <div>
            <h3 class="h3-legal">3. Confidentialité du commerce en ligne</h3>
            <hr>
            <p>
                Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et / ou une transaction, comme par exemple pour expédier une commande.
            </p>
        </div>
        <div>
            <h3 class="h3-legal">4. Divulgation à des tiers</h3>
            <hr>
            <p>
                Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
            </p>
        </div>
        <div>
            <h3 class="h3-legal">5. Protection des informations</h3>
            <hr>
            <p>
                Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne.
            </p>
        </div>
        <div>
            <h3 class="h3-legal">6. Cookies</h3>
            <hr>
            <p>
                Nos cookies améliorent l’accès à notre site et identifient les visiteurs réguliers. En outre, nos cookies améliorent l’expérience d’utilisateur grâce au suivi et au ciblage de ses intérêts. Cependant, cette utilisation des cookies n’est en aucune façon liée à des informations personnelles identifiables sur notre site.
            </p>
        </div>
        <div>
            <h3 class="h3-legal">7. Consentement</h3>
            <hr>
            <p>
                En utilisant notre site, vous consentez à notre politique de confidentialité.
            </p>
        </div>
    </div>
</div>
{% endblock %}
