/* NE PAS OUBLIER DE FAIRE php bin/console tailwind:build --watch */
@font-face {
    font-family: "PlayfairDisplay";
    src:url("/font/PlayfairDisplay.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src:url("/font/Mulish.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Allura";
    src:url("/font/AlluraRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-allura: "Allura", sans-serif;
    --font-playfair: "PlayfairDisplay", serif;
}

:root {
    margin: 0px;
    padding: 0px;

    --main-color: black;
    --secondary-color: #CA8153;
    --third-color: #DEAD8D;

    --special-field: #A5A33D;

    --bg-color: #a2a18378;

    --input-bg-color: #EAE8E0;
    --input-focus-color: #e7e5e0;
}

header img {
    overflow: visible !important;
}

header {
    background-color: var(--secondary-color);
}

body {
    font-family: "PlayfairDisplay", sans-serif;
    font-size: large;
    color: var(--main-color);
    background-color: var(--bg-color);    
}

footer {
    background-color: var(--secondary-color);
    padding-bottom: 2em;
}

h1 {
    font-family: "Allura", serif;
    font-weight: 600;
}

h2 {
    font-family: "Allura", sans-serif;
    font-size: 3em;
    font-weight: 600;
}

h3 {
    font-family: "PlayfairDisplay", serif;
}

/* Swiper */

.swiper-button {
    color: var(--main-color);
}

/* Inputs */

input, input:-internal-autofill-selected {
    background-color: var(--input-bg-color) !important;
}

input:focus, input:-internal-autofill-selected:focus {
    outline: none;
    background-color: var(--input-focus-color) !important;
}

/* Header Nav */
.btn-header {
    @apply cursor-pointer relative pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-full after:bg-black after:scale-x-0 after:origin-center after:-translate-x-1/2 after:transition-transform after:duration-300 hover:after:scale-x-100;
}