/* NE PAS OUBLIER DE FAIRE php bin/console tailwind:build --watch */
@font-face {
    font-family: "PlayfairDisplay";
    src:url("/font/PlayfairDisplay.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src:url("/font/Mulish.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Allura";
    src:url("/font/AlluraRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-allura: "Allura", sans-serif;
    --font-playfair: "PlayfairDisplay", serif;
}

:root {
    margin: 0px;
    padding: 0px;

    --main-color: black;
    --secondary-color: #CA8153;
    --third-color: #DEAD8D;

    --bg-color: #8C4D2E;

    --special-field: #A5A33D;

    --input-bg-color: #EAE8E0;
    --input-focus-color: #e7e5e0;
}

header img {
    overflow: visible !important;
}

header {
    background-color: var(--secondary-color);
}

body {
    font-family: "PlayfairDisplay", sans-serif;
    font-size: large;
    color: var(--main-color);
    background-color: var(--bg-color);    
}

footer {
    background-color: var(--third-color);
    padding-bottom: 2em;
}

h1 {
    font-family: "Allura", serif;
    font-weight: 600;
}

.h3-legal {
    @apply text-2xl font-bold mt-3;
}

.h4-delivery {
    @apply font-bold;
}

hr {
    margin-top: 3px;
    margin-bottom: 1em;
}

/* Swiper */

.swiper-button {
    color: var(--main-color);
}

/* Inputs */

input, input:-internal-autofill-selected {
    background-color: var(--input-bg-color) !important;
}

input:focus, input:-internal-autofill-selected:focus {
    outline: none;
    background-color: var(--input-focus-color) !important;
}

input[type=checkbox] {
  @apply border-2 bg-(--input-bg-color);
}

/* Header Nav */
.btn-header {
    @apply cursor-pointer relative pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-full after:bg-black after:scale-x-0 after:origin-center after:-translate-x-1/2 after:transition-transform after:duration-300 hover:after:scale-x-100;
}

/* Form button */
.form-button {
    @apply text-center font-bold bg-(--secondary-color) text-(--main-color) w-full py-4 cursor-pointer duration-150;
}

.form-button:hover {
    @apply bg-(--main-color) text-(--secondary-color);
}

.form-input {
    @apply px-4 py-2 border-2 bg-(--input-bg-color);
}

.form-input:focus {
    @apply bg-(--input-focus-color);
}

.form-checklabel {
    @apply font-normal text-sm;
}

.form-label {
    @apply font-semibold;
}

/* Account */

.account-btn {
    @apply bg-(--secondary-color) px-4 py-3 text-sm duration-150;
}

.account-btn:hover {
    @apply bg-(--main-color) text-(--secondary-color);
}

.account-btn-active {
    @apply font-bold;
}

.hidden { display:none; }
