<h1>Bienvenue à la Maison Kalyste, {{ user.firstName }} !</h1>

<p>Merci de nous rejoindre !</p>

<p>Pour activer votre compte, cliquez sur le lien ci-dessous :</p>

<p>
    <a href="{{ activationUrl }}">Activer mon compte</a>
</p>

<p>
    Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.
</p>