<h1>Confirmer votre nouvel e-mail, {{ user.firstName }} !</h1>

<p>Pour activer cet adresse e-mail, cliquez sur le lien ci-dessous :</p>

<p>
    <a href="{{ activationUrl }}">Activer mon adresse e-mail</a>
</p>

<p>
    Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.
</p>