<header class="p-3 flex flex-col sticky">
    <div class="flex flex-row items-center justify-between">
        <div class="w-full">
            <img class="w-20" src="{{ asset("/image/maison_kalyste_m.png") }}" alt="Logo de Maison Kalyste">
        </div>
        <div class="w-full">
            <h1 class="text-center">Maison Kalyste</h1>
        </div>
        <div class="w-full flex flex-row justify-end">
            <a href=""><img src="{{ asset("/image/ui/account.svg") }}" alt=""></a>
            <a href=""><img src="{{ asset("/image/ui/cart.svg") }}" alt=""></a>
        </div>
    </div>
    <div>
        
    </div>
</header>