<div class="py-2 px-4 bg-black">
    <span>MAISON KALYSTE : // DESCRIPTION SUPER COURTE //</span>
</div>
<header class="z-1000 sticky top-0">
    <div class="flex flex-col">
        <div class="p-3 flex flex-row items-center justify-between">
            <div class="w-full">
                <img class="w-20" src="{{ asset("/image/maison_kalyste_m.png") }}" alt="Logo de Maison Kalyste">
            </div>
            <div class="w-full">
                <h1 class="text-center">Maison <span class="font-allura text-4xl pl-2">Kalyste</span></h1>
            </div>
            <div class="w-full flex flex-row justify-end">
                <a href=""><img src="{{ asset("/image/ui/account.svg") }}" alt=""></a>
                <a href=""><img src="{{ asset("/image/ui/cart.svg") }}" alt=""></a>
            </div>
        </div>
    </div>
</header>
