<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Maison Kalyste{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{{ asset('image/maison_kalyste_m.png') }}" /> {# Faire un vrai favicon en png #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
        <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body data-controller="cart">
        {% include "_header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "_footer.html.twig" %}

        <div id="toast-container" class="fixed bottom-5 end-5 flex flex-col gap-3 z-50">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    {% include 'components/flash.html.twig' with {
                        type: type,
                        message: message
                    } %}
                {% endfor %}
            {% endfor %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    </body>
</html>
